---
interface Props {
  src: string;
  correct: 0 | 1 | 2;
}
const { src, correct } = Astro.props;
---

<div class="starlight-quiz-question" data-src={src} data-correct={correct}>
  <div class="q-header">
    <span class="q-source"></span>
    <span class="q-num"></span>
  </div>
  <div class="q-body">
    <slot />
  </div>
</div>
