---
interface Props {
	caption?: string;
}

const { caption } = Astro.props;
const hasSlotCaption = Astro.slots.has('caption');
---

<div class="ds-step" data-ds-step>
	<div class="ds-step-body"><slot /></div>
	{
		(hasSlotCaption || caption) && (
			<figcaption class="ds-step-caption">
				{hasSlotCaption ? <slot name="caption" /> : caption}
			</figcaption>
		)
	}
</div>
