---
import { Tabs } from '@astrojs/starlight/components';

interface Props {
	syncKey?: string;
}

const { syncKey } = Astro.props;
---

<div class="tabbed-content not-content">
	<Tabs syncKey={syncKey}>
		<slot />
	</Tabs>
</div>

<style>
	.tabbed-content {
		margin: 1.5rem 0;
		background: var(--sl-color-bg-sidebar);
		border: 1px solid var(--sl-color-hairline);
		border-radius: 12px;
		padding: 18px;
	}
</style>
