---
interface Props {
  answer: string;
  options: string[];
}
const { answer, options } = Astro.props;
---

<select class="dd-choice" data-answer={answer}>
  <option value=""></option>
  {options.map((opt) => <option value={opt}>{opt}</option>)}
</select>
